#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title">
        Weathertop
    </p>
    <p>
        This Weathertop App is here to help you record the data
        collected from your weather station kit.
        <br>
        <br>
        <br>
       Purchase your Weathertop kit <a href="https://www.amazon.co.uk/dp/B081F1VTYT" target="_blank">click here to buy one now</a>.
        <br>
        <br>
        <br>
        If you are looking to buy spare parts <a href="https://tinyurl.com/weathertopapp2" target="_blank"> click here.</a>

    </p>

</div>
